﻿

@model UserViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Link","Home",new { id = "13"})">link</a>
    <a asp-action="Link" asp-controller="Home" asp-route-id="13">link</a>

    <form asp-action="Index" asp-controller="Home" method="post">
        <input type="text" asp-for="Name" />

        <select asp-for="Result" asp-items="Model.Options">
            <option value="">-- Plese Select --</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    @Model.Name
    <partial name="TestPartial">

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
