﻿@model WorkShopTableModel

<form asp-action="WorkTable" asp-controller="Home" method="post">
@*<div class="text-danger" asp-validation-summary="All"></div>*@
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" asp-for="SearchName" form-control mb-2" id="inlineFormInput" placeholder="plese input">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
        <span class="text-danger" asp-validation-for="SearchName"></span>
</form>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price (Bath)</th>
            <th scope="col">Expired Date</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.RowList.Count; i++)
        {
            <tr>
                <td>
                    @Model.RowList[i].Number
                </td>
                <td>
                    @Model.RowList[i].Name
                </td>
                <td>
                    @Model.RowList[i].Price
                </td>
                <td>
                    @Model.RowList[i].Date
                </td>
            </tr>
        }
    </tbody>
</table>